/* src/frontend/style.css */

QMainWindow {
    background-color: #4b5863;
}

QPushButton  {
    background-color: #3a3a3a;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

QPushButton:hover {
    background-color: #505050;
}

/* Estilo para el contenedor principal de la ventana */
QWidget#MainContainer { 
    background-color: #4b5863;
    border-radius: 15px;
    border: 1px solid #2c3948
}

/* Estilo para el área de contenido principal */
QWidget#MainBody {
    background-color: #546473;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
